<body>
    <div class="page-container">
        <div class="header">
            <h2>Uploader Website</h2>
        </div>
        <div class="white-box">
            <div class="file-buttons">
                <input type="file" (change)="onFileSelected($event)" id="fileInput">
                <button (click)="loadFiles()">Refresh</button>
            </div>
            <div class="scrollable-content">
                <div *ngFor="let file of files" class="file-item">
                    <span>{{ file.name }}</span>
                    <div class="file-item-icons">
                        <button (click)="onRenameFile(file.id)"><i class="fas fa-edit"></i></button>
                        <button (click)="downloadFile(file.id, file.name)"><i class="fas fa-download"></i></button>
                        <button (click)="onRemoveFile(file.id)"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                <div *ngIf="files.length == 0">Aucun fichier</div>
            </div>
        </div>
    </div>
</body>